// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container,.card,.btn{
    margin-top:15px;
}

.btn-dark{
    width: 50px;
    margin-left: 5px;
}

.btn-flex{
    display: flex;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
}

.topic{
    font-size: 20px;
}

ul{
    list-style:none;
}

li{
    text-align: left;
}
